.header {
    grid-area: h;
    background-color: #04506e;
    
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
}

.header img {
    width: 20px;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    color: aliceblue;
    margin-inline-start: -100%
}