@import '../../index.scss';


.header {
    grid-area: h;
    background: $mainBlack;
    padding: 20px 10px;
    text-decoration: none;
    line-height: 20px;
}

.loginBlock {
    float: right;
    color: $mainGrey;
}
.loginBlock a {
    color: $mainGrey;
}